body, html {
    overflow: hidden;
    background-color: #333;
}

div.fields {
    background-color: #333;
    position:fixed;
    bottom:0;
    width:100%;
    height:100px;
}

button#submitMessage {
    border:2px solid #888;
    background-color: #555;
    margin:20px auto;
}

input#textcolor {
    margin:20px auto;
    padding:0 2px;
    background-color: #555;
    border:2px solid #888;
}

div.col-xs-12.col-sm-10 {
    background-color: #FFF;
    float:right;
    padding: 15px;
    position: absolute;
    top:0;
    right:0;
    bottom:100px;
}

div.col-xs-hidden.col-sm-2 {
    color: #ecf0f1;
    background-color: #333;
    position:absolute;
    top:0;
    bottom:100px;
    overflow-y: scroll;
}

div#content {
    position: absolute;
    background-color: #ddd;
    top: 15px;
    bottom:15px;
    left:15px;
    right:15px;
    border:2px solid #888;
    border-radius: 10px;
    overflow-y:scroll;
}

div#content ul {}

div#content ul li {
    list-style: none;
    padding:0;
}

ul#users {}

ul#users li {
    list-style: none;
}

.bold {
    font-weight: bold;
}


/*
#content {
    background: white;
    margin: 0;
    width: 70%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    bottom: 3em;
    overflow: auto;
}
#users{
    background: lightgrey;
    width: 20%;
    float: right;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;    }

#form, #connectForm {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 50%;
    overflow: hidden;
}

#connectForm {
    right: 0px;
    left: auto;
}
*/